Exam 2/Exam 2 Codes/flows.json
[{"id":"8a08d1f2.24505","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c987db66.ec8058","type":"debug","z":"8a08d1f2.24505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":20,"wires":[]},{"id":"d621e16a.52404","type":"debug","z":"8a08d1f2.24505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":140,"wires":[]},{"id":"27363f65.c9d06","type":"ui_gauge","z":"8a08d1f2.24505","name":"Temp","group":"9ef95b1d.c56278","order":0,"width":0,"height":0,"gtype":"gage","title":"temp","label":"units","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":60,"wires":[]},{"id":"fb617014.f24bc","type":"ui_gauge","z":"8a08d1f2.24505","name":"Humidity","group":"9ef95b1d.c56278","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":100,"wires":[]},{"id":"236883ff.5bdcac","type":"function","z":"8a08d1f2.24505","name":"Temp","func":"// Convert Buffer to String:\nvar data = msg.payload.toString()\n// Split it using the `:` character\nvar parts = data.split(\",\");\n\n// parts is now a two-element array, containing \"AZ\" and \"129.9\"\n// use the second element:\nmsg.payload = parts[0];\n\nreturn msg","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["c987db66.ec8058","27363f65.c9d06"]]},{"id":"c5ca023b.c171b","type":"function","z":"8a08d1f2.24505","name":"Humidity","func":"// Convert Buffer to String:\nvar data = msg.payload.toString()\n// Split it using the `:` character\nvar parts = data.split(\",\");\n\n// parts is now a two-element array, containing \"AZ\" and \"129.9\"\n// use the second element:\nmsg.payload = parts[1];\n\nreturn msg","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["fb617014.f24bc","d621e16a.52404"]]},{"id":"8a8364d8.b8a988","type":"function","z":"8a08d1f2.24505","name":"Air Sensor","func":"// Convert Buffer to String:\nvar data = msg.payload.toString()\n// Split it using the `:` character\nvar parts = data.split(\",\");\n\n// parts is now a two-element array, containing \"AZ\" and \"129.9\"\n// use the second element:\nmsg.payload = parts[2];\n\nreturn msg","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["d8f8bf2f.8b03d","5985b218.a2fc1c"]]},{"id":"d8f8bf2f.8b03d","type":"ui_chart","z":"8a08d1f2.24505","name":"","group":"988de138.d5a0d","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"700","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":200,"wires":[[]]},{"id":"5985b218.a2fc1c","type":"debug","z":"8a08d1f2.24505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":240,"wires":[]},{"id":"33eba165.f9ee3e","type":"twitter out","z":"8a08d1f2.24505","twitter":"","name":"Tweet","x":650,"y":320,"wires":[]},{"id":"70852c36.658fc4","type":"function","z":"8a08d1f2.24505","name":"Prettify","func":"msg.topic = \"tweet\";\nmsg.location = \"Lenexa, KS\"\n\n// Convert Buffer to String:\nvar data = msg.payload.toString()\n// Split it using the `:` character\nvar parts = data.split(\",\");\n\n// parts is now a two-element array, containing \"AZ\" and \"129.9\"\n// use the second element:\nmsg.temp = parts[0];\nmsg.hum = parts[1];\nmsg.air = parts[2];\n\n\n\ntemp_str = \"The temperature in Lenexa is: \" + msg.temp \ntemp_str2 = \"\\nThe humidity is: \" + msg.hum\ntemp_str3 = \"\\nThe Air Quality is: \" + msg.air\n\nmsg.payload = temp_str + temp_str2 + temp_str3;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["ca08b4e4.8ba308","33eba165.f9ee3e","770fe255.47f87c"]]},{"id":"ca08b4e4.8ba308","type":"debug","z":"8a08d1f2.24505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"166541c8.00b58e","type":"file in","z":"8a08d1f2.24505","name":"","filename":"/home/pi/ECE Assignments/output.txt","format":"","chunk":false,"sendError":false,"encoding":"none","x":230,"y":260,"wires":[["236883ff.5bdcac","c5ca023b.c171b","8a8364d8.b8a988","70852c36.658fc4"]]},{"id":"770fe255.47f87c","type":"e-mail","z":"8a08d1f2.24505","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"enlrs07@gmail.com","dname":"","x":630,"y":440,"wires":[]},{"id":"129ecc5b.a963f4","type":"inject","z":"8a08d1f2.24505","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":140,"wires":[["166541c8.00b58e"]]},{"id":"9ef95b1d.c56278","type":"ui_group","z":"","name":"DHT11","tab":"ffedf1f3.32a3a","order":2,"disp":true,"width":"6","collapse":false},{"id":"988de138.d5a0d","type":"ui_group","z":"","name":"MQ Sensor","tab":"ffedf1f3.32a3a","order":2,"disp":true,"width":"6","collapse":false},{"id":"ffedf1f3.32a3a","type":"ui_tab","z":"","name":"Station","icon":"dashboard","order":1,"disabled":false,"hidden":false}]